{% extends "../base.html.twig" %}

{% block title %} SymRecipe {% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Bienvenue sur SymRecipe!</h1>
            <p class="lead">SymRecipe est un outil permettant de gerer les différentes informations d'une entreprise.</p>
            <hr class="my-4">
            <p>Pour commencer rendez-vous sur la page d'inscription pour utiliser l'application.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
        </div>
    </div>
{% endblock %}